* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600;
}

body {
    background-color: rgb(71, 71, 71);
}

h1, label, input {
    color: rgb(152, 159, 255);
}

.main {
    border: solid 1px rgb(52, 37, 255);
    border-radius: 10px;
    width: 300px;
    margin: 15% auto;
    padding: 15px;
    background-color: rgb(46, 46, 46);
    box-shadow: 3px 2px 34px 4px rgba(0,0,0,0.42);
    -webkit-box-shadow: 3px 2px 34px 4px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 2px 34px 4px rgba(0,0,0,0.42);
}

.main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

input[type=submit] {
    padding: 3px 5px;
    margin-top: 8px;
    color: black;
}

input[type=text], input[type=password], input[type=number] {
    border-radius: 10px;
    border: solid 1px rgb(52, 37, 255);
    background-color: rgba(0,0,0,0.42);
    padding: 2px;
    width: 100px;
    text-align: center;
    transition: width 0.5s;
}

input[type=text]:focus,
input[type=password]:focus {
    width: 150px;
    transition: width 0.5s;
}

input {
    font-weight: 300;
}

p {
    margin-top: 10px;
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  width: 50px;
} 