* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin: 10vh auto;
    width: 520px;
    border: solid 1px;
}

textarea {
    width: 250px;
    height: 100px;
    padding: 0;
    resize: none
}

.bloco-membro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid 1px;
}

.bloco-membro h2 {
    margin: 15px;

}

.bloco-semanas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bloco-semana {
    display: flex;
    flex-direction: column;
    align-items: center;
}