<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/grupo-relatorios/grupo-relatorios.css">
    <link rel="shortcut icon" href="../static/LOGO JQV.PNG" type="image/x-icon">
    <link rel="stylesheet" href="../static/navbar.css">
    <title>Grupo</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/usuario/grupo/relatorios">Ver Relatorios</a></li>
                <li><a href="/usuario">Home</a></li>
                <li><a href="/usuario/grupo">Ver Membros</a></li>
            </ul>
        </nav>
    </header>
    <div class="session" style="display: none;">{{ session['nome'] }}</div>
    <main id="main">
        {% block content %}
        
        {% endblock %}
    </main>
    <script src="/static/grupo-relatorios/grupo-relatorios.js"></script>
</body>
</html>
