<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/grupo.css">
    <link rel="shortcut icon" href="../static/LOGO JQV.PNG" type="image/x-icon">
    <link rel="stylesheet" href="../static/navbar.css">
    <title>Membros</title>
</head>
<body>
    {% block content%}
    <header>
        <nav>
            <ul>
                <li><a href="/usuario/grupo/relatorios">Ver Relatorios</a></li>
                <li><a href="/usuario">Home</a></li>
                <li><a href="/usuario/grupo">Ver Membros</a></li>
            </ul>
        </nav>
    </header>
    {% if membrps != [] %} 
        <main>
            <table>
                <caption>Membros</caption>
                <thead>
                    <tr>
                        <th><span>Nome</span></th>
                        <th><span>Sobrenome</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for membro in membros %}
                        <tr>
                            <td><span>{{ membro.nome.capitalize() }}</span></td>
                            <td><span>{{ membro.sobrenome.capitalize() }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% else %}
        <div class="nomem">
            <h1>Esse grupo não possui membros</h1>
        </div>
    {% endif %}
    {% endblock %}
</body>
</html>